.social-profiles {
    .social-profile-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25em;
        font-size: ms(1);
        border-radius: 100%;
    }
    .social-profile-icon {
        width: ms(2.5);
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;
        }
    }
    &.social-share {
        i {
            color: #fff;
        }
    }
}
